<nav class="navbar bg-body-tertiary" data-bs-theme = "dark">
  <div class="container">
    <span class="navbar-brand mb-0 h1">Zak's Website :)</span>

    <div class = "mt-2">
    <a class = "navButton" role = "button" href ="/editgame">Add Game</a>
    <a class= "BlogButton navButton" href ="/mygames">My Blog</a>
    </div>

  </div>
</nav>

<style>
  .navButton {
  border: none;
  background-color: rgba(128, 128, 128, 0);
  color: rgb(170, 13, 233);
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  right: 700px;
  position: relative;
  cursor: pointer;
}
</style>