@page "/mygames"
@inject GamesClient Client

 <!--shows a loading indicator when the page is loading-->
@attribute [StreamRendering]

<PageTitle>My Games</PageTitle>

<div class = "mt-2">
    <a class = "btn btn-primary" role = "button" href ="">Return to Home</a>

</div>